

/* main area */
/* main-title */

main .main-title {
    display: flex;
    padding-inline: 25%;
    margin-block: 5rem;
}

main .main-title .title {
    font-size: 4rem;
    font-weight: bolder;
    border-right: #111 5px solid;
    padding-right: 2rem;
}

main .main-title .activity-count h1 {
    font-size: 8rem;
    font-weight: bolder;
    padding-left: 2rem;
    margin-bottom: -1rem;
}

main .main-title .activity-count p {
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: lighter;
}

/* activity card */
.activities {
    padding-inline: 25%;
}

.activity-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    margin-block: 3rem;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.card-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 1rem;
}

.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile-image img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.fullname {
    font-weight: bold;
}

.username {
    font-size: 13px;
}

.activity-info {
    max-width: 95%;
    margin-inline: auto;
    display: flex;
}

.activity-detail {
    width: 50%;
}

.activity-detail h1{
    margin-block: 1rem;
    font-size: 2.3rem;
    font-weight: bolder;
}

.activity-detail .par-list {
    display: flex;
    margin-top: 5px;
}

.pro {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: #fff 2px solid;
    margin-right: -7px;
}

.pro img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.extra {
    margin-block: auto;
    margin-left: 10px;
    font-size: 13px;
}

.activity-detail {
    border-right: 5px #111 solid;
    padding-right: 2rem;
}

.activity-action {
    margin-block: auto;
    margin-left: 2rem;
    width: 50%;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #207C18;
    margin-right: 1rem;
    border-radius: 50%;
}

.activity-status {
    display: flex;
    align-items: center;
    border: 3px solid #207C18;
    padding: 3px 5px;
    color: #207C18;
    border-radius: 50px;
    /* width: 220px; */
}

.activity-status p {
    font-weight: bold;
}

.notice {
    margin-bottom: 1rem;
}

.butt {
    width: 100%;
    margin-block: 0.5rem;
    border: #111 3px solid;
    border-radius: 20px;
    padding-block: 10px;
    text-align: center;
    cursor: pointer;
}

.butt a {
    text-decoration: none;
    text-align: center;
    margin-block: auto;
    color: #111;
}

.join-button {
    background-color: #111;
    font-weight: bolder;
}

.join-button form input[type=submit] {
    background-color: inherit;
    color: #fff;
    font-weight: bolder;
    border: none;
    font-size: 1rem;
    cursor: inherit;
}

.join-button a {
    color: #fff;
}

/* Leave */
.leave-button {
    border: rgb(222, 16, 16) 3px solid;
    background-color: rgb(222, 16, 16);
    font-weight: bolder;
}

.leave-button form input[type=submit] {
    background-color: inherit;
    color: #fff;
    font-weight: bolder;
    border: none;
    font-size: 1rem;
    cursor: inherit;
}

.leave-button a {
    color: #fff;
}






